Repository StanfordSpezi/SpeziKt, pull requests merged in 2024-10, with the labels that each got.

#114 fix parsing of year
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/service/mapper/BloodPressureMapper.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/service/mapper/BloodPressureMapperTest.kt
Labels: bug, ENGAGE HF

#105 Refactor Registration Flow to Remove Consent Screen and Anonymous Login and move Invitation Code screen
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/AppNavigationTest.kt
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/OnboardingFlowTest.kt
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/simulator/NavigatorSimulator.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivity.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivityViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/models/Action.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/screen/BluetoothScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/Routes.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageInvitationCodeRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageSequentialOnboardingRepository.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/MainActivityViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModelTest.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/AccountNavigationEvent.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginFormValidator.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginScreen.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginViewModel.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/UiState.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/components/SignInWithGoogleButton.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/components/TextDivider.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/AuthenticationManager.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/FirebaseInvitationAuthManager.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/UserSessionManager.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/UserState.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/AuthValidator.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/DatePickerDialog.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterFormValidator.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterScreen.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterUiState.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterViewModel.kt
  modules/account/src/main/res/values/strings.xml
  modules/account/src/test/java/edu/stanford/spezi/module/account/login/LoginFormValidatorTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/login/LoginViewModelTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/AuthenticationManagerTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/UserSessionManagerTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/register/AuthValidatorTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/register/RegisterFormValidatorTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/register/RegisterViewModelTest.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeScreen.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeScreenData.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeUiState.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeViewModel.kt
  modules/onboarding/src/test/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeViewModelTest.kt
Labels: enhancement, ENGAGE HF

#120 Adding Sections to Meds Page + Change Medication Status Colors + add a key
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationScreenTest.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/ColorKey.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCardModelsProvider.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationList.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationProgressBar.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationSectionHeader.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationStatusIcon.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModel.kt
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModelTest.kt
Labels: enhancement, ENGAGE HF

#118 Feature/sign out #89
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/simulator/NavigatorSimulator.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivity.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivityViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/AppNavigationEvent.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageConsentManager.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageInvitationCodeRepository.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/MainActivityViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageConsentManagerTest.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/AccountEvents.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/UserSessionManager.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/UserSessionManagerTest.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/OnboardingNavigationEvent.kt
Labels: ENGAGE HF

#117 fixed to correctly get the ZoneOffset
  modules/healthconnectonfhir/src/main/java/edu/stanford/healthconnectonfhir/ObservationsDocumentMapperImpl.kt
  modules/healthconnectonfhir/src/test/java/edu/stanford/healthconnectonfhir/ObservationsDocumentMapperImplTest.kt
Labels: ENGAGE HF

#104 SpeziContact
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/ContactComposableTest.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/ContactFactory.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/ContactScreenTest.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/ContactsListTest.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/simulator/ContactComposableSimulator.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/simulator/ContactListSimulator.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactComposable.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactScreen.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactViewModel.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactsList.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/OnAction.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/component/AddressCard.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/component/ContactOptionCard.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/component/NavigationCard.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/AddressFormatting.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/Contact.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/ContactOption.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/ContactOptionCall.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/ContactOptionEmail.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/ContactOptionText.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/ContactOptionWebsite.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/PersonNameComponents.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/repository/ContactRepository.kt
  modules/contact/src/test/kotlin/edu/stanford/spezi/modules/contact/DefaultContactRepositoryTest.kt
Labels: enhancement

#121 fix #24 include README.MD from base folder
  build.gradle.kts
  modules/onboarding/README.md
  modules/onboarding/screens/consent.jpg
  modules/onboarding/screens/invitation.jpg
  modules/onboarding/screens/onboarding.jpg
  modules/onboarding/screens/sequential_step_1.jpg
  modules/onboarding/screens/sequential_step_2.jpg
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/consent/ConsentManager.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/onboarding/OnboardingRepository.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/sequential/SequentialOnboardingRepository.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/sequential/SequentialOnboardingViewModel.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/sequential/Step.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/sequential/components/OnboardingViewPage.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/sequential/components/PageIndicator.kt
Labels: documentation

#122 Task/onboarding improvements #36
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivity.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/ColorKey.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationList.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationSectionHeader.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageInvitationCodeRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/InvitationCodeScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/onboarding/OnboardingScreen.kt
  app/src/main/res/values/strings.xml
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/CommonScaffold.kt
  modules/onboarding/src/androidTest/kotlin/edu/stanford/spezi/module/onboarding/OnboardingViewTest.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeRepository.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeView.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/invitation/InvitationCodeViewData.kt
  modules/onboarding/src/main/kotlin/edu/stanford/spezi/module/onboarding/onboarding/OnboardingView.kt
  modules/onboarding/src/main/res/values/strings.xml
  modules/onboarding/src/test/kotlin/edu/stanford/spezi/module/onboarding/consent/ConsentViewModelTest.kt
  modules/onboarding/src/test/kotlin/edu/stanford/spezi/module/onboarding/onboarding/OnboardingViewModelTest.kt
Labels: enhancement, ENGAGE HF

#126 Feature Contact
  app/build.gradle.kts
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivity.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/data/ContactDocumentToContactMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/data/EngageContactRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/ui/ContactScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/ui/ContactScreenViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/AppNavigationEvent.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/Routes.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/components/AccountDialog.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/contact/data/ContactDocumentToContactMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/contact/data/EngageContactRepositoryTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/contact/ui/ContactScreenViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModelTest.kt
  modules/contact/README.md
  modules/contact/screens/contact.png
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactComposable.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/component/AddressCard.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/component/ContactOptionCard.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/Contact.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/PersonNameComponents.kt
  modules/contact/src/main/res/values/strings.xml
Labels: documentation, enhancement, ENGAGE HF

#108 SpeziStorage
  core/bluetooth/src/main/kotlin/edu/stanford/spezi/core/bluetooth/domain/BLEPairedDevicesStorage.kt
  core/bluetooth/src/test/kotlin/edu/stanford/spezi/core/bluetooth/domain/BLEPairedDevicesStorageTest.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/credential/CredentialStorageTests.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/file/EncryptedFileKeyValueStorageTest.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/key/EncryptedKeyValueStorageTest.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/key/InMemoryStorageTest.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/key/KeyValueStorageTest.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/key/LocalKeyValueStorageTest.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/local/KeyStorageTests.kt
  modules/storage/src/androidTest/kotlin/edu/stanford/spezi/modules/storage/local/LocalStorageTests.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/credential/Credential.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/credential/CredentialStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/credential/CredentialTypes.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/di/Storage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/di/StorageModule.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/file/EncryptedFileStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/file/FileStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/EncryptedKeyValueStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/InMemoryKeyValueStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/KeyValueStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/KeyValueStorageFactory.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/KeyValueStorageImpl.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/KeyValueStorageSerialization.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/KeyValueStorageType.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/key/LocalKeyValueStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/local/KeyStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/local/LocalStorage.kt
  modules/storage/src/main/kotlin/edu/stanford/spezi/modules/storage/local/LocalStorageSetting.kt
Labels: enhancement

#133 feat union type image resource
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/ui/ContactScreen.kt
  core/design/build.gradle.kts
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/ImageResource.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/ImageResourceComposable.kt
  core/testing/src/main/kotlin/edu/stanford/spezi/core/testing/SemanticsNodeInteraction.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/extensions/Modifier.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/extensions/SemanticsPropertyKey.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/ContactFactory.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/simulator/ContactComposableSimulator.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactComposable.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/Contact.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/component/ExpandableVideoSection.kt
Labels: enhancement
