Repository StanfordSpezi/SpeziKt, pull requests merged in 2024-11, with the labels that each got.

#132 Task/symptoms categories info naming #130
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/component/AppScreenEvents.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsDescriptionBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModelTest.kt
Labels: enhancement, ENGAGE HF

#135 fix #131 login screen text
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginScreen.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginViewModel.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/UiState.kt
  modules/account/src/main/res/values/strings.xml
  modules/account/src/test/java/edu/stanford/spezi/module/account/login/LoginViewModelTest.kt
Labels: ENGAGE HF

#137 fix #90 don't dismiss failed message action
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModel.kt
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModelTest.kt
  modules/education/src/androidTest/java/edu/stanford/spezi/modules/education/videos/EducationScreenTest.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/EducationScreen.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/EducationUiState.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/EducationViewModel.kt
  modules/education/src/main/res/values/strings.xml
Labels: ENGAGE HF

#134 fix #59 removed video description nullability
  app/src/main/kotlin/edu/stanford/bdh/engagehf/education/VideoSectionDocumentToVideoSectionMapper.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/education/VideoSectionDocumentToVideoSectionMapperTest.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/video/VideoScreen.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/EducationUiState.kt
  modules/education/src/test/java/edu/stanford/spezi/modules/education/education/videos/EducationViewModelTest.kt
Labels: enhancement, ENGAGE HF

#139 SpeziFoundation
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/RepositoryAnchor.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/SharedRepository.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/builtin/ValueRepository.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/knowledgesource/ComputedKnowledgeSource.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/knowledgesource/DefaultProvidingKnowledgeSource.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/knowledgesource/KnowledgeSource.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/knowledgesource/OptionalComputedKnowledgeSource.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/foundation/knowledgesource/SomeComputedKnowledgeSource.kt
  core/utils/src/test/kotlin/edu/stanford/spezi/core/utils/SharedRepositoryTest.kt
Labels: enhancement

#140 SpeziViews
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/data/ContactDocumentToContactMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/contact/ui/ContactScreen.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/contact/data/ContactDocumentToContactMapperTest.kt
  core/design/build.gradle.kts
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/personalInfo/NameFieldsTest.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/personalInfo/UserProfileTest.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/personalInfo/composables/NameFieldsTestComposable.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/personalInfo/composables/UserProfileTestComposable.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/personalInfo/simulators/NameFieldsTestSimulator.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/personalInfo/simulators/UserProfileTestSimulator.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/validation/FocusValidationRulesTest.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/validation/composables/FocusValidationRules.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/validation/simulators/FocusValidationRulesSimulator.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/views/MarkdownTest.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/views/SuspendButtonTest.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/views/composables/MarkdownTestComposable.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/views/composables/SuspendButtonTestComposable.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/views/simulators/MarkdownTestSimulator.kt
  core/design/src/androidTest/kotlin/edu/stanford/spezi/core/design/views/simulators/SuspendButtonTestSimulator.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/AsyncImageResource.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/AsyncImageResourceComposable.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/ImageResource.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/ImageResourceComposable.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/markdown/MarkdownElement.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/personalinfo/PersonNameComponents.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/personalinfo/UserProfileComposable.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/personalinfo/fields/NameFieldRow.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/personalinfo/fields/NameTextField.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/CascadingValidationEffect.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/ValidationEngine.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/ValidationModifier.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/ValidationRule.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/ValidationRuleDefaults.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/configuration/ValidationEngine.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/configuration/ValidationEngineConfiguration.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/state/CapturedValidationState.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/state/CapturedValidationStateEntries.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/state/FailedValidationResult.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/state/ReceiveValidation.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/state/ValidationContext.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/views/ValidationResultsComposable.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/validation/views/VerifiableTextField.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/layout/DescriptionGridRow.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/model/OperationState.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/model/ViewState.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/views/button/ProcessingOverlay.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/views/button/SuspendButton.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/views/text/Markdown.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/viewstate/OperationStateAlert.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/viewstate/ViewStateAlert.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/views/views/viewstate/ViewStateMapper.kt
  core/design/src/test/kotlin/edu/stanford/spezi/core/design/SpeziValidationTest.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/ContactFactory.kt
  modules/contact/src/androidTest/kotlin/edu/stanford/spezi/modules/contact/simulator/ContactComposableSimulator.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/ContactComposable.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/Contact.kt
  modules/contact/src/main/kotlin/edu/stanford/spezi/modules/contact/model/PersonNameComponents.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/component/ExpandableVideoSection.kt
Labels: enhancement
