Repository StanfordSpezi/SpeziKt, pull requests merged in 2024-08, with the labels that each got.

#69 adjust firestore security rules from users to patients
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/AuthenticationManager.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/UserSessionManager.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterFormValidator.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterScreen.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterUiState.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/UserSessionManagerTest.kt
Labels: ENGAGE HF

#70 Authentication components
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/component/VitalDisplay.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/screen/BluetoothScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/MessageItem.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/theme/Colors.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginViewModel.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/AuthenticationManager.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/CredentialLoginManagerAuth.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/CredentialRegisterManagerAuth.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/register/RegisterViewModel.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/login/LoginViewModelTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/AuthenticationManagerTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/CredentialRegisterManagerAuthTest.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/register/RegisterViewModelTest.kt
  modules/education/src/main/java/edu/stanford/spezi/modules/education/videos/component/ExpandableVideoSection.kt
Labels: bug, enhancement

#73 Medication
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationScreenTest.kt
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/simulator/MedicationScreenSimulator.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/education/VideoSectionDocumentToVideoSectionMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/localization/LocalizedMapReader.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/MedicationScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/DosageInformation.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCardModelsProvider.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationList.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationProgressBar.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationStatusIcon.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendation.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendationMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreen.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/education/VideoSectionDocumentToVideoSectionMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/localization/LocalizedMapReaderTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModelTest.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/theme/Sizes.kt
  core/design/src/main/res/drawable/ic_arrow_up.xml
  core/design/src/main/res/drawable/ic_check.xml
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/Typealiases.kt
Labels: enhancement, ENGAGE HF

#84 Tab titles display
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/HealthChart.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, ENGAGE HF

#88 Feature/medication info link
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationScreenTest.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/BluetoothUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/MessageActionMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCardModelsProvider.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendation.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendationMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModel.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/BluetoothUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/MessageActionMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModelTest.kt
Labels: enhancement, ENGAGE HF

#91 Feature/questionnaire
  app/build.gradle.kts
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivity.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/MessageActionMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/MessagesAction.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/AppNavigationEvent.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/Routes.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/observations/ObservationCollection.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/questionnaire/QuestionnaireRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/questionnaire/QuestionnaireScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/questionnaire/QuestionnaireViewModel.kt
  app/src/main/res/values/themes.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/MessageActionMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/questionnaire/QuestionnaireRepositoryTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/questionnaire/QuestionnaireViewModelTest.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/ComposeContentActivity.kt
  core/testing/build.gradle.kts
  core/testing/src/main/kotlin/edu/stanford/spezi/core/testing/Task.kt
  gradle/libs.versions.toml
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/AuthenticationManagerTest.kt
  modules/healthconnectonfhir/src/main/java/edu/stanford/healthconnectonfhir/Loinc.kt
  modules/healthconnectonfhir/src/main/java/edu/stanford/healthconnectonfhir/QuestionnaireDocumentMapper.kt
  modules/healthconnectonfhir/src/test/java/edu/stanford/healthconnectonfhir/QuestionnaireDocumentMapperTest.kt
Labels: enhancement, ENGAGE HF

#87 Feature/74 bottom sheets and record operations
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/health/HealthPageTest.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/component/BottomSheetEvents.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthAction.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthPage.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/BloodPressureViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/BloodPressureDescriptionBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/BodyPositionDialog.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/MeasurementLocationDialog.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/AddDataHeader.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/HealthChart.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/ItemsDialog.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/NumberPicker.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/TimePicker.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/HeartRateViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/HeartRateDescriptionBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/WeightViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheetUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheetUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheetViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/WeightDescriptionBottomSheet.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/utils/DateTimeFormatter.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheetViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/utils/DateTimeFormatterTest.kt
  core/utils/build.gradle.kts
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/DateFormatter.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/extensions/Float.kt
  core/utils/src/test/kotlin/edu/stanford/spezi/core/utils/DateFormatterTest.kt
  core/utils/src/test/kotlin/edu/stanford/spezi/core/utils/FloatRoundingTest.kt
Labels: enhancement, ENGAGE HF

#83 Feature/issue 75 add symptoms in heart health
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/simulator/HealthPageSimulator.kt
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/simulator/MedicationScreenSimulator.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/measurements/MeasurementsRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthPage.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/HealthChart.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendation.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendationMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/observations/ObservationCollection.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/questionnaire/QuestionnaireScreen.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/HealthViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModelTest.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/CenteredBoxContent.kt
Labels: enhancement, ENGAGE HF

#86 HealthSummaryAction and MedicationsAction
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/component/AppScreenEvents.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/BloodPressureViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/HeartRateViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/WeightViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheetViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/HealthSummaryRepository.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/HealthSummaryService.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/Message.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/MessageItem.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/components/AccountDialog.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/components/AccountTopAppBarButton.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModel.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/file_paths.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/BluetoothViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/education/VideoSectionDocumentToVideoSectionMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/HealthViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/bloodpressure/bottomsheet/AddBloodPressureBottomSheetViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/heartrate/bottomsheet/AddHeartRateBottomSheetViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/weight/bottomsheet/AddWeightBottomSheetViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/messages/HealthSummaryRepositoryTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreenViewModelTest.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/TopAppBar.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/UserInfo.kt
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/manager/UserSessionManager.kt
  modules/account/src/test/java/edu/stanford/spezi/module/account/manager/UserSessionManagerTest.kt
Labels: enhancement, ENGAGE HF
