Repository StanfordSpezi/SpeziKt, pull requests merged in 2024-12, with the labels that each got.

#145 fix metric conversion
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/service/Measurement.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/service/mapper/WeightMeasurementMapper.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/service/mapper/WeightMeasurementMapperTest.kt
Labels: bug, ENGAGE HF

#149 Fix Release Workflow Deployment
  .github/workflows/deployment.yml
Labels: bug

#146 Error handling when generating Health summary
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/edu/stanford/bdh/engagehf/messages/HealthSummaryService.kt
  app/src/main/res/values/strings.xml
  core/utils/build.gradle.kts
  core/utils/src/androidTest/kotlin/edu/stanford/spezi/core/utils/HiltApplicationTestRunner.kt
  core/utils/src/androidTest/kotlin/edu/stanford/spezi/core/utils/MessageNotifierTest.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/MessageNotifier.kt
Labels: enhancement, ENGAGE HF

#147 Bluetooth device connections
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/BluetoothUiStateMapper.kt
  core/bluetooth/src/main/kotlin/edu/stanford/spezi/core/bluetooth/domain/BLEDeviceConnector.kt
  core/bluetooth/src/test/kotlin/edu/stanford/spezi/core/bluetooth/domain/BLEDeviceConnectorTest.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/TimeProvider.kt
  core/utils/src/test/kotlin/edu/stanford/spezi/core/utils/TimeProviderTest.kt
Labels: enhancement, ENGAGE HF

#148 Update color keys of user name and email in Account dialog
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/components/AccountDialog.kt
Labels: enhancement, ENGAGE HF

#150 Task/initial app permissions
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/bluetooth/screen/HomeScreenTest.kt
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/di/AppTestModule.kt
  app/src/androidTest/kotlin/edu/stanford/bdh/engagehf/simulator/HomeScreenSimulator.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/MainActivity.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/HomeViewModel.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/BluetoothUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/models/Action.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/models/BluetoothUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/models/UiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/bluetooth/screen/HomeScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/navigation/screens/AppScreen.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/HomeViewModelTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/bluetooth/data/mapper/BluetoothUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/onboarding/EngageConsentManagerTest.kt
  core/design/src/main/kotlin/edu/stanford/spezi/core/design/component/PermissionRequester.kt
  core/notification/src/main/kotlin/edu/stanford/spezi/core/notification/NotificationPermissions.kt
  core/notification/src/main/kotlin/edu/stanford/spezi/core/notification/di/NotificationModule.kt
  core/notification/src/main/kotlin/edu/stanford/spezi/core/notification/setting/NotificationSettingScreen.kt
  core/notification/src/main/kotlin/edu/stanford/spezi/core/notification/setting/NotificationSettingViewModel.kt
  core/notification/src/test/kotlin/edu/stanford/spezi/core/notification/NotificationPermissionsTest.kt
  core/notification/src/test/kotlin/edu/stanford/spezi/core/notification/setting/NotificationSettingViewModelTest.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/BuildInfo.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/di/UtilsModule.kt
  core/utils/src/test/kotlin/edu/stanford/spezi/core/utils/BuildInfoTest.kt
Labels: bug, enhancement, ENGAGE HF
