Repository StanfordSpezi/SpeziKt, pull requests merged in 2025-01, with the labels that each got.

#167 Medication List Color Key Update
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/ColorKey.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationList.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiState.kt
  app/src/main/res/values/strings.xml
  modules/account/src/main/kotlin/edu/stanford/spezi/module/account/login/LoginScreen.kt
Labels: enhancement

#166 Blood Pressure Chart Labels
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiStateMapper.kt
Labels: enhancement

#174 Task/issue 165
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/time/TimePickerStateMapper.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/time/TimePickerStateMapperTest.kt
  core/utils/src/main/kotlin/edu/stanford/spezi/core/utils/DateFormatter.kt
  core/utils/src/test/kotlin/edu/stanford/spezi/core/utils/DateFormatterTest.kt
Labels: bug, ENGAGE HF

#172 Symptom score categories drop down items and date labels in chart
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModel.kt
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModelTest.kt
Labels: enhancement, ENGAGE HF

#171 Fix incorrect x axis date labels
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/HealthUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/components/HealthChart.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsScreen.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsViewModel.kt
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/HealthUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/health/symptoms/SymptomsUiStateMapperTest.kt
Labels: bug, enhancement, ENGAGE HF

#176 Fix currently taking and medications that might help sections
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/components/MedicationCard.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendation.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/data/MedicationRecommendationMapper.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiState.kt
  app/src/main/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapper.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationUiStateMapperTest.kt
  app/src/test/kotlin/edu/stanford/bdh/engagehf/medication/ui/MedicationViewModelTest.kt
Labels: enhancement, ENGAGE HF
